:host {
  .empty-watchlists-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 16px;
    border-radius: 5px;
  }
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: var(--box-shadow);
  display: block;
  border-radius: 0.5rem;

  .delete-button {
    color: var(--mat-sys-error);
  }
}
