@if(stock) {

<div class="stock-card">
  <div class="stock-card-left">
    <div class="stock-name" [attr.title]="stock.name">{{ stock.name }}</div>
    <div>
      <span class="stock-symbol">{{ stock.symbol }} : NSE</span>
    </div>
    <div class="last-price">Prev Close: {{ stock.lastClose }}</div>
  </div>
  @if(showCardRight) {
  <div class="stock-card-right">
    <div
      class="current-price"
      [ngClass]="{
        up: lastChange === 'up',
        down: lastChange === 'down'
      }"
    >
      ₹ {{ latestPrice }}
    </div>
    <div
      class="stock-change"
      [ngClass]="{
        up: lastCloseChange === 'up',
        down: lastCloseChange === 'down'
      }"
    >
      @if(change) {
      <span class="abs-change">
        {{ change.percent < 0 ? '' : '+' }}{{ change.absolute }}
      </span>
      <span class="percent-change">
        ({{ change.percent < 0 ? '' : '+' }}{{ change.percent }}%)
      </span>
      }
    </div>
    <div>
      @if(watchlists && watchlists.length > 0) {
      <button mat-stroked-button type="button" [matMenuTriggerFor]="menu">
        <span>Add to Watchlist</span>
        <mat-icon fontIcon="arrow_drop_down"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @for(watchlist of watchlists; track watchlist.id) {
        <button type="button" mat-menu-item (click)="stockAdded.emit({watchlist, stock})">
          {{ watchlist.name }}
        </button>
        
        }
      </mat-menu>
      }
    </div>
  </div>
  }
</div>
}
