.watchlist-details {
    mat-form-field {
        width: 100%;
    }
    background: #fff;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
}