.stock-symbol {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  background-color: #2481c3;
  border-radius: 5px;
  padding: 2px 0.5rem;
  color: white;
}

.page-heading {
    font-size: 1rem;
    font-weight: 800;
}